# Database
DATABASE_URL=mysql+pymysql://user:password@localhost/image2video

# Storage
STORAGE_DIR=./storage
PUBLIC_API_BASE=http://localhost:8080

# MinIO Configuration
MINIO_ENDPOINT=storage.dev.localhost.com.br
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_BUCKET=ghfimagevideo
MINIO_SECURE=false
MINIO_REGION=us-east-1

# Redis (for Celery)
REDIS_URL=redis://localhost:6379/0

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
